{% extends 'base_template.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/edit_profile.css">
    {% block styles_account %}{% endblock %}
{% endblock %}

{% block title %}
    StarInvest - Редактирование профиля
{% endblock %}
    
{% block content %}
    <div class="profile_main_container"> 
        <div class="side_menu">
            <div class="side_menu_item">
                <a href="{% url 'profile' user.id %}">
                    <img src="/static/img/profile_svg_icon.svg" alt="">
                    Профиль
                </a>
            </div>
            <div class="side_menu_item">
                <a href="{% url 'my_projects' %}">
                    <img src="/static/img/briefcase_svg_icon.svg" alt="">
                    Мои проекты
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/message_svg_icon.svg" alt="">
                    Мессенджер
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/notification_svg_icon.svg" alt="">
                    Уведомления
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/support_svg_icon.svg" alt="">
                    Поддержка
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/complaint_svg_icon.svg" alt="">
                    Ваши жалобы
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/financial_help_svg_icon.svg" alt="">
                    Помощь проекту
                </a>
            </div>
            <div class="side_menu_item">
                <a href="#">
                    <img src="/static/img/achievments_svg_icon.svg" alt="">
                    Достижения
                </a>
            </div>
            <div class="side_menu_item">
                <a href="{% url 'logout' %}">
                    <img src="/static/img/logout_icon.svg" alt="">
                    Выход
                </a>
            </div>
        </div>
        <div class="main_info">
            {% block content_account %} {% endblock %}
        </div>
    </div>
{% endblock %}