{% extends 'base_template.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block title %}
    StarInvest - Вход
{% endblock %}
    
{% block content %}
    <div class="login_container">
        <h1>Вход</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="login_input_container">
                <div class="{% if form.email.errors or errors %}input_container_error{% else %}input_container{% endif %}">
                    <img src="/static/img/mail_svg_icon.svg" alt="" class="input_img">
                    <input name="email" class="login_input" placeholder="{% if form.email.errors %}{{ form.email.errors|join:', ' }}{%  else %} {% if errors %} {{ errors }} {% else %} Почта{% endif %}{% endif %}" type="text">
                </div>
            </div>
            <div class="login_input_container">
                <div class="{% if form.email.errors or errors %}input_container_error{% else %}input_container{% endif %}">
                    <img src="/static/img/lock_svg_icon.svg" alt="" class="input_img">
                    <input name="password" class="login_input" placeholder="{% if form.email.errors %}{{ form.password.errors|join:', ' }}{%  else %} {% if errors %} {{ errors }} {% else %} Пароль  {% endif %}{% endif %}" type="password">
                </div>
            </div>
            <div class="container_button">
                <input type="submit" value="Войти">
                <a href="#">Забыл пароль</a>
            </div>
        </form>
    </div>
{% endblock %}