.main_container {
    height: 100%;
}

.container {
    margin: 0px 5%;
    height: 100%;
}

/*TITLE*/

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.title img {
    margin-left: 10px;
    width: 35px;
}

/*SEARCH*/

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 100%;
    background-color: #d4e7ff;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    margin-right: 15px;
}

.search img {
    padding: 5px;
    width: 25px;
    background-color: #d4e7ff;
    border-radius: 30%;
    border: 1px solid black;
}

.search img:hover {
    cursor: pointer;
}

/*CATEGORIES*/

.categories {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.categories_menu {
    border: 1px solid black;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    background-color: #d4e7ff;
    height: min-content;
}

.categories_menu_items {
    position: absolute;
    top: 60px;
    background-color: #d4e7ff;  
    padding: 10px;
    padding-left: 0;
    max-width: 520px;
    max-height: 150px;
    overflow-y:auto;
    z-index: 3;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
    display: none;
}

.categories_menu_items > div {
    margin-bottom: 10px;
}

.categories_menu:hover {
    cursor: pointer;
}

.category {
    margin-left: 10px;
    padding: 7px;
    height: fit-content;
    align-self: center;
    background-color: #D9D9D9;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
}

.category img {
    width: 20px;
}


.category:hover {
    cursor: pointer;
}

.category.clicked::after {
    content: "✔";
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

/*ITEMS*/

.container_items {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_container {
    width: 23%;
    height: 30%;
    position: relative;
    border-radius: 20px;
}

.item_category {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 20px;
    background-color: #FFE4C4;
    text-align: center;
    border-radius: 20px;
}

.item_image {
    border-radius: 20px;
    width: 100%;
    min-height: 165px;
    max-height: 300px;
}

.info_title {
    text-align: center;
    font-size: 18px;
}

.info_body {
    text-align: justify;
    margin: 0 20px;
    line-height: 1.2;
}

.info_metrics {
    text-align: center;
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.metric_help_text {
    font-size: 12px;

}

.metrics_metric {
    /* border-right: 1px solid black; */
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
    height: 20%;
}

.metrics_metric:nth-child(3n){
    border: 0;
}

.metrics_metric:nth-child(2n) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 20px;
}

.see_button {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    padding: 10px;
    background-color: #E1FFB1;
    border-radius: 20px;
}

.add_new_project_button {
    height: min-content;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: #E1FFB1;
    border-radius: 20px;
}


@media(max-device-width: 1250px) {
    .item_container {
        width: 32%;
    }
}

@media(max-device-width: 1100px) {
    .burger_menu_sub_menu {
        width: 29%;
    }
    .active {
        right: 21%;
    }
}

@media(max-device-width: 1020px) {
    .item_container {
        width: 48%;
    }
}

@media(max-device-width: 800px) {
    .burger_menu_sub_menu {
        width: 39%;
    }
}

@media(max-device-width: 632px) {
    .item_container {
        width: 100%;
    }
    .left_header > a {
        display: flex;
        flex-direction: column;
    }
}

@media(max-device-width: 496px) {
    .burger_menu_sub_menu {
        width: 50%;
    }
}
