<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', path='css/base_template_styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for ('static', path='img/logo.svg') }}" />
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
    <header>
        <div class="left_header">
            <a href="#">
            <img src="{{ url_for ('static', path='img/logo.svg') }}" alt="" class="logo">
StarInvest</a>
            
        </div>
        <div class="right_header">
            <nav>
                <div class="overlay"></div>

                <div class="burger_menu">
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                    <div class="menu_line"></div>
                </div>
                <div class="burger_menu_sub_menu">
                    <div class="sub_menu_container">
                        <a href="##">Главная</a>
                        <a href="###">Профиль</a>
                        <a href="#">Новости</a>
                        <a href="#">О нас</a>
                    </div>
                </div>
                <div class="profile">
                        <a href="######">
                            <img src="{{ url_for ('static', path='img/profile.svg') }}" alt="">
                        </a>
                </div>
            </nav>
        </div>
    </header>
    <div class="main_container">
        {% block content %}

        {% endblock %}
    </div>
</div>
    <footer>
        <div class="contacts">
            <a href="#">
                <img src="{{ url_for ('static', path='img/tg_icon.svg') }}" alt="">
                <img src="{{ url_for ('static', path='img/vk_icon.svg') }}" alt="">
                <img src="{{ url_for ('static', path='img/inst_icon.svg') }}" alt="">
                <img src="{{ url_for ('static', path='img/youtube_icon.svg') }}" alt="">
            </a>
        </div>
        <div class="footer_logo">
            <h3>STAR INVEST PRESENTS</h3>
            <a href="#">
                <img src="{{ url_for ('static', path='img/logo.svg') }}" alt="" class="logo">
            </a>
        </div>
        <div class="sub_info">
            StarInvest 2023-2024 <br>
            <a href="#">Пользовательское соглашение</a>
        </div>
    </footer>
    <script src="{{ url_for ('static', path='js/BaseTemplateScripts.js') }}"></script>
</body>
</html>